body{
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    height: 100%;
}

section {
    margin: 2vh 2vw 0 2vw;
}

td {
    margin: 1vh 2vw 0 2vw;
    padding: 1vh 0 2vh 0;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 33%;
}

#HeaderView {
    color: white;
    background-color: teal;
}

button {
  background-color: teal; /* Green */
  border: none;
  color: white;
  padding: 10px 21px;
  margin: 1vh 1vw 1vh 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover {
    transform: scale(1.1);
}

#Previous {
    float: left;
}

#Next {
    float: right;
}

